extends layout

block content
	h1 User Details
	ul
		li First Name: #{firstname}
		li Last Name: #{lastname}
		li Username: #{username}
		li Email: #{email}
		

	a(class = "editUser" href = "/editUser/#{username}") Edit 
	| |
	a(class = "deleteUser" href = "" data-id="#{userid}") Delete
