extends layout

block content
	h1 Edit User
	form(name='editUser', method='post', action='/editUser')
		div
			input#inputEmail(type='text', placeholder='Enter Email', name='email', value = '#{email}')
		div
			input#inputFirstName(type='text', placeholder='Enter Firstname', name='firstname',  value = '#{firstname}')
		div
			input#inputLastName(type='text', placeholder='Enter Lastname', name='lastname',  value = '#{lastname}')
		div
			input#inputUserName(type='text', placeholder='Enter username', name='username',  value = '#{username}')
		div
			input#inputPassword(type='text', placeholder='Enter Password', name='password',  value = '#{password}')
		div
			input(type='hidden', name ='id', value='#{userid}')
			button#btnSubmit(type='submit') Update